body{
    background-color: #1B244A;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin: 30px;
    padding: 0%;
    background-size: cover; 
    background: url(/babag.jpeg);
    ;

    }
#title{
    color: white;
    font-size: 40px;
    text-shadow: 30px 0px 30px black;

}

#maincont{
  
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #1B244A;
    color:white;
    font-size: x-large;   
    margin: 0px;
     color: #9AABD8;
}
#homesub, #guestsub{
   
    background-color: black;
    background-size: cover;
    height: 200px;
    color:white;
    font-size: large;
    border: 5px solid white;  
    border-radius: 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    margin-bottom: 20px;
    padding: 0px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 150px;
}

/* #guestsub{ 
    width: 150px;
    height: 150px;
    background-color: black;
    color:white;
    font-size: large;
    border: 5px solid white;  
    border-radius: 30px;
    display: block;
    margin: 20px auto;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 100px;
    } */
    
#home-count, #guest-count{
    display: block ;
    margin: 20px;
    color:#F94F6D;
}
    
#homebut1, #homebut2, #homebut3, #guestbut1, #guestbut2, #guestbut3
{
    font-family: 'Cursed Timer ULiL', sans-serif;
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
}

#leaderstyle{
    text-align: center;
    background: #1B244A;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 50px;
    color: #9AABD8; 
    margin: 0px;
    padding: 50px;   
}

/* 
#homebut2{
    
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 10px;
 }
#homebut3{
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 10px;
}

#guestbut1
{
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 10px;
    
}

#guestbut2{
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 10px;
}
#guestbut3{
    background-color: #1B244A;
    border: 3px solid #9AABD8;
    color: #9AABD8;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    margin: 10px;
}


 */


    
